http://rss.slashdot.org/Slashdot/slashdot
http://readwrite.com/main/feed/articles.xml
http://lxer.com/module/newswire/headlines.rss
http://feeds.boingboing.net/boingboing/iBag
http://feeds.arstechnica.com/arstechnica/index/